
// Fuentes
@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://fonts.googleapis.com/css?family=Raleway');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';


/**
 * Preloader
*/
#loader_container{
  position: fixed;
  background-color: #3C3C4F;
  width: 100vw;
  height: 100vh;
  overflow:hidden;
  top:0;
  left:0;
  z-index: 1080;
}

#loader1{
  position: absolute;
  top:0;
  left:0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 12vw; 
  height: 12vw;
  border: 0.7vh solid #3C3C4F;
  border-top: 0.7vh solid $orange;
  border-radius: 50%;
  animation: spin 2.2s ease infinite;
}

#loader2{
  position: absolute;
  top:0;
  left:0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 10vw; 
  height: 10vw;
  border: 0.7vh solid #3C3C4F;
  border-top: 0.7vh solid $orange;
  border-radius: 50%;
  animation: spin 2s ease infinite;
}

#loader3{
  position: absolute;
  top:0;
  left:0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 8vw; 
  height: 8vw;
  border: 0.7vh solid #3C3C4F;
  border-top: 0.7vh solid $orange;
  border-radius: 50%;
  animation: spin2 2.4s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { 
    transform: rotate(360deg);
  }
}
@keyframes spin2 {
  0% { transform: rotateZ(0deg); }
  100% { 
    transform: rotateZ(-360deg);
  }
}




.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100; 
  padding: 48px 0 0; 
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: .5rem;
  overflow-x: hidden;
  overflow-y: auto; 
}

/* Segunda parte del Sidebar*/
.sidebar .nav-link {
  font-weight: 500;
  font-size: 0.90rem;
  text-transform: uppercase;
}

.sidebar .nav-link{
  margin-right: 4px;
  color: #E5E4E4;
}

.sidebar .nav-link.active {
  color: #007bff;
}

.sidebar .nav-link:hover,
.sidebar .nav-link.active {
  color: #007bff;
}

.sidebar-heading {
  font-size: .75rem;
  text-transform: uppercase;
}

[role="main"] {
  padding-top: 133px; /* Space for fixed navbar */
}

@media (min-width: 768px) {
  [role="main"] {
    padding-top: 48px; /* Space for fixed navbar */
  }
}

.title{
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
}

.navbar .nav-link:hover{
  color: $red !important;
}

/* Dashboard del Administrador */

/* Productos del Dashboard */
.scale{
  transition: transform 0.2s ;
}

.scale:hover{
  transform: scale(1.1, 1.1);
}

/* Pestañas de las Ordenes */
.tablink {
  border: none;
  outline: none;
  cursor: pointer;
  background-color: #DBDDDF;
  padding: 14px 16px;
  font-size: 17px;
  position: relative;
  transition: all .4s;
  
  &.created{
    border-top-left-radius: 8px;
  }

  &.confirmed{
    border-top-right-radius: 8px;
  }

  &:focus{
    outline: none;
  }

  &:hover{
    background-color: #B1B1B1;
  }

  &:before {
    content: "";
    display: block;
    width: 0;
    height: 3px;
    background-color: $orange;
    position: absolute;
    left: 0;
    bottom: 0;
    transition: all .4s;
  }

  &:hover:before{
    width: 100%;
  }

}

.confirmed:before{
  background-color: $green;
}

.created:before{
  background-color: $orange;
}

.paid:before{
  background-color: $teal;
}

.created.active{
  color: white;
  background-color: $orange; 
}

.paid.active{
  color: white;
  background-color: $teal; 
}

.confirmed.active{
  color: white;
  background-color: $green; 
}

.tabcontent {
  display: none;
  padding: 6px 12px;
  border: none;
  animation: tabEffect 1s;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

#Confirmed{
  background-color: $green;
}

#Paid{
  background-color: $teal;
}

#Created{
  background-color: $orange;
}

@keyframes tabEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}
