
// Fuentes
@import url('https://fonts.googleapis.com/css?family=Nunito');

//Raleway
@import url('https://fonts.googleapis.com/css?family=Raleway');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

/* Mis variables */
$claro: #EBF2F5;
$azul: #1788B5;
$mostaza: #E78C04;
$oscuro: #0C0722;

/* Diseño */
html{
  height: 100%;
}
body{
  position: relative;
  min-height: 100%;
  padding-bottom: 6rem;
}
.title{
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
}

.bg-claro{
  background-color: $claro !important;
}

.bg-azul{
  background-color: $azul !important;
}

.bg-mostaza{
  background-color: $mostaza !important;
}

.bg-oscuro{
  background-color: $oscuro !important;
}

.bg-gradient-bt{
  background: linear-gradient(to top, #1788b5 0%, #33ccff 100%);
}

.text-claro{
  color: $claro !important;
}

.text-azul{
  color: $azul !important;
}

.text-mostaza{
  color: $mostaza !important;
}

.text-oscuro{
  color: $oscuro !important;
}

.display-5{
  font-size: 3rem;
  font-weight: 300;
  line-height: 1.2;
}

.display-6{
  font-size: 2.50rem;
  font-weight: 300;
  line-height: 1.2;
}

.navbar-gradient{
  background: linear-gradient(to right, #1788b5 0%, #33ccff 100%) !important;
}

.navbar-light .navbar-nav .nav-link, .navbar-light .navbar-brand, 
.navbar-light .navbar-brand:hover, .navbar-light .navbar-brand:focus {
  color: $claro;
}

.navbar .nav-link:hover{
  color: $mostaza !important;
}

#navbar{
  top: -300px;
  transition: top 0.7s;
}

.btn-header{
  font-size: 1.125rem;
  color: #fff;
  border: 1px solid $oscuro;
  border-radius: 1rem;
  background-color: $claro;
  transition: all .4s;
  background: $mostaza linear-gradient(180deg, #D68814,$mostaza) repeat-x;
  border-color: $mostaza;

}

.btn-header:hover, .btn-header:focus{
  color: #fff;
  background: darken($mostaza, 1.3) linear-gradient(180deg, darken($mostaza, 1.3), darken($mostaza, 1.2)) repeat-x;
  border-color: darken($mostaza, 1.4); 
}

/* Seccion de contacto */
.bg-contact{
  background: linear-gradient(to top, #33ccff 0%, $claro 50%);
  background-repeat: no-repeat;
}

/* Footer */

.footer{
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
}

.footer a{
  transition: all 0.3s ease;
  color: white;
  font-size: 1rem;
  padding: 0.25rem 0.5rem !important;
  border-radius: 50%;
}

.footer a:hover{
  opacity: 0.7;
}

.facebook {
  background-color: #3B5998;
}

.twitter {
  background-color: #55ACEE;
}

.instagram {
  background: linear-gradient(to bottom, #feda75, #fa7e1e 25%, #d62976 50%, #962fbf 75%, #4f5bd5);
}



/* Dashboard del Administrador */

/* Sidebar del Administrador */

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100; 
  padding: 48px 0 0; 
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: .5rem;
  overflow-x: hidden;
  overflow-y: auto; 
}

/* Segunda parte del Sidebar*/
.sidebar .nav-link {
  font-weight: 500;
  font-size: 0.90rem;
  text-transform: uppercase;
}

.sidebar .nav-link{
  margin-right: 4px;
  color: #E5E4E4;
}

.sidebar .nav-link.active {
  color: #007bff;
}

.sidebar .nav-link:hover,
.sidebar .nav-link.active {
  color: #007bff;
}

.sidebar-heading {
  font-size: .75rem;
  text-transform: uppercase;
}

[role="main"] {
  padding-top: 133px; /* Space for fixed navbar */
}

@media (min-width: 768px) {
  [role="main"] {
    padding-top: 48px; /* Space for fixed navbar */
  }
}

/* Productos del Dashboard */
.scale{
  transition: transform 0.2s ;
}

.scale:hover{
  transform: scale(1.1, 1.1);
}

/* Pestañas de las Ordenes */
.tablink {
  border: none;
  outline: none;
  cursor: pointer;
  background-color: $oscuro;
  color: $claro;
  padding: 14px 16px;
  font-size: 17px;
  position: relative;
  transition: all .4s;
  
  &.created{
    border-top-left-radius: 8px;
  }

  &.confirmed{
    border-top-right-radius: 8px;
  }

  &:focus{
    outline: none;
  }

  &:hover{
    background-color: $oscuro;
  }

  &:before {
    content: "";
    display: block;
    width: 0;
    height: 3px;
    background-color: $orange;
    position: absolute;
    left: 0;
    bottom: 0;
    transition: all .4s;
  }

  &:hover:before{
    width: 100%;
  }

}

.confirmed:before{
  background-color: $green;
}

.created:before{
  background-color: $orange;
}

.paid:before{
  background-color: $red;
}

.created.active{
  color: white;
  background-color: $orange; 
}

.paid.active{
  color: white;
  background-color: $red; 
}

.confirmed.active{
  color: white;
  background-color: $green; 
}

.tabcontent {
  display: none;
  padding: 6px 12px;
  border: none;
  animation: tabEffect 1s;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

#Confirmed{
  background-color: $green;
}

#Paid{
  background-color: $red;
}

#Created{
  background-color: $orange;
}

@keyframes tabEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}




